.itemRank {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: solid 1.5px transparent;
  border-radius: 120px;
  background: inherit;
}
.itemRank svg {
  z-index: 1;
}
.itemRank::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 190%;
  top: 50%;
  border-radius: inherit;
  background-image: linear-gradient(
      to bottom,
      #120d2e -107%,
      rgba(0, 16, 28, 0) 67%
    ),
    linear-gradient(to bottom, #2e7de5 8%, rgba(151, 151, 151, 0) 39%);
}
.itemRank::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 190%;
  top: 50%;
  margin: 1.5px;
  border-radius: inherit;
  background-image: linear-gradient(
      to bottom,
      #0e0c23 -47%,
      rgba(0, 16, 28, 0) 41%
    ),
    linear-gradient(to bottom, #0e0c23 35%, rgba(151, 151, 151, 0) 48%);
  filter: blur(2.5px);
}
