.wapTitle {
  position: relative;
  text-align: left;
  width: fit-content;
}
.aboutUsMainImg {
  width: 65px;
  height: 48px;
  object-fit: contain;
  position: absolute;
  top: -15px;
  right: -30px;
}
.title {
  font-weight: bold;
  background: linear-gradient(to right, #fff200, #ff4538);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  text-transform: none;
  position: relative;
  display: inline;
  font-size: 60px !important;
  line-height: 51px !important;
}
